{% extends 'base.html' %}

{% block meta %}
{% include 'navbar_manajer.html' %}
<title>Form Registrasi</title>
{% endblock meta %}

{% block content %}
<h2 style="text-align: center; padding: 10px">Daftar Pelatih</h2>
<div class="container-account" id="base-container" style="width: 80%; margin: auto; padding: 10px">
    <form action="" method="post">
        <div style="text-align: center; padding: 10px;">
            <label for="pelatih">Pilih pelatih: </label>
            <select name="pelatih" id="pelatih" style="width: 30%;">
                <option value="pelatih2">Pelatih 2 - 2100000002</option>
                <option value="pelatih3">Pelatih 3 - 2100000003</option>
            </select>
        </div>
        <div style="text-align: center; padding: 10px;">
            <button type="submit" class="btn btn-primary mb-3" style="width: 15%;">Pilih Pelatih</button>
        </div>
    </form>
</div>

{% endblock content %}