{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="register-container justify-content-center align-self-center d-flex">
            <div class = "register">
                <div class="container px-4 text-center">
                    
                    <div class="row gx-5">
                        <h1>
                            REGISTER
                        </h1>
                    </div>
                    
                    <div class="row gx-5 row-select">
                      <div class="row">
                        <div class="p-3">
                            <a class="manajer-select" href="#"><button>Manajer</button></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="p-3">
                            <a class="penonton-select" href="#"><button>Penonton</button></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="p-3">
                            <a class="panitia-select"  href="#"><button>Panitia</button></a>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                    
            </div>  
                
        </div>
    
    </div>
{% endblock content %}
