{% extends 'base.html' %}

{% block content %}
{% include 'navbar_manajer.html' %}

<div class="container h-100 ">
<div class="table-responsive table-fixed">
    <h2 class="pt-4 text-center">List Pemesanan</h2>
    <table class=" flex table table-bordered" style="border-color:black">
        <thead>
          <tr>
            <th class="text-center">Stadium</th>
            <th class="text-center">Waktu</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td class=" fw-normal text-center" style="width: 50%">&lt;Stadium 1&gt;</Stadium></td>
                <td class="fw-normal text-center"style="width: 50%">&lt;Waktu 1&gt;</td>
            </tr>
            <tr>
                <td class="fw-normal text-center">&lt;Stadium 2&gt;</Stadium></td>
                <td class="fw-normal text-center">&lt;Waktu 2&gt;</td>
            </tr>
            <tr>
                <td class="fw-normal text-center">&lt;Stadium 3&gt;</Stadium></td>
                <td class="fw-normal text-center">&lt;Waktu 3&gt;</td>
            </tr>
            <tr>
                <th colspan="2" class="text-center"><a href="{% url 'peminjaman'%}"><button class="btn btn-primary" type="button" >PESAN</button></a></th>
              </tr>
        </tbody>
      </table>
</div>
</div>

{% endblock content %}
